.App {
  text-align: center;
}

@font-face {
  font-family: 'Univers';
  src: local('Univers'), url("./fonts/univers_else_regular/UniversElse-Regular.ttf") format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title {
  text-align: center !important;
  font-size: 69px !important;
}

.header {
  text-align: center !important;
  font-size: 50px !important;
}


html, body, svg {
  margin:0;
  padding:0;
}

.stage {
  width: 1000px !important;
    margin: auto !important;
    padding-left: 300px !important;
}

.plant {
  text-align: center;
    font-size: 30px;
    padding-top: 30px;
}

.arrow {
  
}

.controls {
  height: 35px;
  padding: 5px 12px;
  background-color: #24292e;
}
button {
  margin-right: 5px;
}
.globe {
  height: calc(100vh - 35px);
  width: 100%
}

.choose-header {
  margin:  69px;
  text-align: center;
}

.tree-tile:hover {
  cursor: pointer;
}

h2 {
  margin: 0px;
  font-size: 3em;
  font-family: serif;
  color: #008000;
  text-align: center;
  animation: animate 
      4.2s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}